

.pagination{
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
}
.pagination .disablearrow{
	opacity: 0.5;
	pointer-events: none;
}
.pagination .btn{
  position: relative;
    top: 2px;
    cursor: pointer;
}
.pagination .title{
  font-size: 13px;
}