
.sliderwrapper{
    position: relative;
    width: 400px; 
    height: 300px; 
    margin: 0 auto;
    overflow: hidden;
    border-radius: 8px;
  
}
.sliderwrapper .slide{ 
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
}
.sliderwrapper .imgcontainer{
  width: 100%;
  height: 100%;
  background: #f4edfb;
  text-align: center;
}
.sliderwrapper .slide > div img{
    width: auto;
    height: 100%;
    object-fit: cover;
}
.sliderwrapper button{
    background: none;
    border: none;
}
.sliderwrapper button .fas{
    color: rgba(255, 255, 255, .5);
}
.sliderwrapper .btnslide{
    position:absolute;
    top:50%;
    z-index: 10;
    cursor: pointer;
    color: transparent;
    animation: fadeout 1s;
    display: flex;
    border-radius: 33px;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    
   
}

@keyframes fadeout { 
    0% {
      opacity: 0.5;
    }
  
    100% {
      opacity: 0;
    }
  }
@keyframes fadein { 
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 0.5;
    }
  }
 .sliderwrapper:hover .btnslide{
   color: #fff;
    background: #000;
    opacity: 0.4;
  animation: fadein 1s;

}
.sliderwrapper .btnslide:hover{
  opacity:1;
    color: #fff;
    background: #7e13db;
}
.sliderwrapper .btnslide svg{
    font-size: 30px;
}
.sliderwrapper .prev{
    left:3rem;
    transform: translate(-50%, -50%);
}
.sliderwrapper .next{
    right: 3rem;
    transform: translate(50%, -50%); 
}
.sliderwrapper .activeimg{

 
}
.dotscontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.dotscontainer .dot{
    width: 25px;
    height: 5px;
    margin: 15px 5px;
    border-radius: .5rem;
    background: rgba(39,39,39, .5);
    cursor: pointer;
}
.dotscontainer .dot.active{
background:#7e13db;
}

